.pixels-container{
    display:flex;
    flex-direction:column;
    width:45vw;
    height:45vw;
    max-height:70vmin;
    max-width:70vmin;
    margin:5%;
}
.grid-container{
    margin:10px;
    border-radius:20px;
    background-color: red;
    padding:1px;
    width:50vw;
    height:50vw;
    max-height:80vmin;
    max-width:80vmin;
}

.row{
    display:flex;
    flex:auto;
}

.pixel{
    /*border:1px solid black;*/
    width:auto;
    flex:auto;
    background-color: white;
}
body{
    margin:0;
}

.pixel:hover{
    background-color: rgb(218, 217, 217);
}
.pixel.colored{
    background-color:black;
}


body,html{
    height:100%;
}