.pixels-container{
    display:flex;
    flex-direction:column;
    width:45vw;
    height:45vw;
    max-height:70vh;

}
.grid-container{
    margin:10px;
    border-radius:20px;
    padding:3%;
    background-color: red;
    width: fit-content;
    height:fit-content;
}

.row{
    display:flex;
    flex:auto;
}

.pixel{
    border:1px solid black;
    width:auto;
    flex:auto;
    background-color: white;
}
body{
    margin:0;
}

.pixel:hover{
    background-color: rgb(218, 217, 217);
}

body,html{
    height:100%;
}