.pixels-container{
    display:flex;
    flex-direction:column;
    width:85%;
    height:85%;
    margin:7.5%;
}
.grid-border{
    display:flex;
    margin:10px;
    border-radius:20px;
    background-color: #E91F0C;
    width:60vw;
    height:60vw;
    max-height:70vmin;
    max-width:70vmin;
    -moz-box-shadow: 10px 10px 16px #000000;
-webkit-box-shadow: 10px 10px 16px #000000;
box-shadow: 10px 10px 16px #000000;
}

.row{
    display:flex;
    flex:auto;
}

.pixel{
    /*border:1px solid black;*/
    width:auto;
    flex:auto;
    background-color: white;
}
body{
    margin:0;
}

.pixel:hover{
    background-color: rgb(218, 217, 217);
}
.pixel.colored{
    background-color:black;
}


body,html{
    height:100%;
    background-color:#aae8f8;
}
body{
    display:flex;
    flex-direction: column;
    justify-content:space-between
}

.logo{
    background-color: #00157D;
    color:white;
    padding:1vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 8vmin;
    text-align:center;
}

.content{
    display:flex;
}

.gridContainer{
    display:flex;
    justify-content:center;
    flex:auto;
}

.footer{
    background-color: #254dff;
    color:white;
    text-align:center;
    height: 5vh;
}

a{
    color:white;
}